<a href="https://colab.research.google.com/github/mimansa566/codingmyth/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_1=2
num_2=4
exp=num_1**num_2
print(exp);
print(num_1>0 and num_2<0)

16
False

In [ ]:
a=int(input('enter the 1st no'))
b=int(input('enter the 2nd no'))
if (a>b):
  print('a is greater')
else:
  print('b is greater no')

enter the 1st no23
enter the 2nd no34
b is greater no

if else in python

In [ ]:
a=20
b=30
c=21
if(b<a>c):
  print('a is the greatest no')
elif(a<b>c):
    print('b is greatest no')
else:
      print('c is the gratest no')

b is greatest no

loops

In [ ]:
#for loop
for i in range(5):
  laptop_price=int(input('enter the price of laptop'))

enter the price of laptop20
enter the price of laptop30
enter the price of laptop40
enter the price of laptop50
enter the price of laptop60

while condition

In [12]:
i=0
while i<10:
 print(i)
 i+=1

0
1
2
3
4
5
6
7
8
9

functions in python

In [15]:
num=int(input('enter the no to find its factorial'))
factorial=1
if num ==0:
  print('factorial is 1')
else:
  for i in range(1,num+1):
    factorial=factorial*i
  print('factorial is', factorial)

enter the no to find its factorial0
factorial is 1